<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enontrar influencer</title>
</head>
<body>
    <h1>Encontrar Influencers</h1>
    <h2>Filtros</h2>
    <label for="categoria">Categoria</label>
    <select name="categoria" id="categoria">
        <option value="opcion1">Opción 1</option>
        <option value="opcion2">Opción 2</option>
    </select>
        <label for="audiencia">Edad de la audiencia</label>
    <select name="audiencia" id="audiencia">
        <option value="audiencia1"> 0-5 años</option>
        <option value="audiencia2"> 5-10 años</option>
    </select>
        <label for="localAudiencia">Localizacion de la audiencia</label>
    <select name="localAudiencia" id="localAudiencia">
        <option value="localizacion1">Copiapo</option>
        <option value="localizacion2">Tierra Amarilla</option>
    </select>
            <label for="interes">Intereses</label>
    <select name="interes" id="interes">
        <option value="interes1">Blog</option>
        <option value="interes2">Comedia</option>
    </select>
    
</body>
</html>