<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Inicio Section Titulo -->
      <section>
        <h1>
          <!-- * TODO: titulo -->
        </h1>
        <h2>
          <!-- * TODO: titulo -->
        </h2>
      </section>
      <!-- Fin Section Titulo -->
      <!-- Inicio Barra de opciones -->
      <section>
        <!-- * TODO: Barra de opciones -->
         <!-- * TODO: Template All notification -->
         <!-- * TODO: Template Emergecy -->
        <div>
          <span>
            <a href=""></a>
          </span>
        </div>
      </section>
      <!-- Fin Barra de opciones -->
      <!-- Inicio Filtro -->
      <section>
        <!-- * TODO: Filtros -->
        <h1>Filtro</h1>
        <span>
          <!-- * TODO: Opciones de Filtros  -->
          <button></button>
        </span>
      </section>
      <!-- Fin Filtro -->
      <!-- Inicio Notificaciones de hoy -->
      <section>
        <h1></h1>
        <div>
          <span>
            <div>
              <img src="" alt="FotoDelEmisor" />
              <span>
                <title></title>
                <time datetime=""></time>
              </span>
            </div>
            <div>
              <a href="">Revisar asunto</a>
            </div>
          </span>
        </div>
      </section>
      <!-- Fin Notificaciones de hoy -->
      <!-- Inicio Notificaciones de ayer -->
      <section>
        <h1></h1>
        <div>
          <span>
            <div>
              <img src="" alt="FotoDelEmisor" />
              <span>
                <title></title>
                <time datetime=""></time>
              </span>
            </div>
            <div>
              <a href="">Revisar asunto</a>
            </div>
          </span>
        </div>
      </section>
      <!-- Fin Notificaciones de ayer -->
       <!-- Inicio configuración de notificaciones -->
        <section>
            <h1>Configuración</h1>
            <div>
                <span>
                    <h3>Titulo</h3>
                    <h4>Descripción</h4>
                </span>
                <button>
                   <!--  * TODO: TOGGLE BUTTON -->
                </button>
            </div>
        </section>
       <!-- Fin configuración de notificaciones -->
    </main>
  </body>
</html>
