<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Inicio zona titulo -->
      <div>
        <h1>sasd</h1>
        <h2></h2>
      </div>
      <!-- Fin zona titulo -->
      <!-- Inicio Form -->
      <div>
        <form action=""></form>
      </div>
      <!-- Fin Form -->
      <!-- Inicio Botones -->
      <div>
        <button>
          <a href=""> </a>
        </button>
        <button>
          <a href=""></a>
        </button>
      </div>
      <!-- Fin botones -->
    </main>
  </body>
</html>
