<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlmaUnion</title>
  <link rel="stylesheet" href="{% static "css/menuInicio.css" %}">
  <!-- <link rel="stylesheet" href="{% static 'mi_app/css/estilos.css' %}"> -->
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">AlmaUnion</div>
    <nav>
      <a href="#">Sobre nosotros</a>
      <a href="#">Contacto</a>
    </nav>
    <div class="search-login">
      <input type="text" placeholder="Buscar...">
      <button class="btn-login">Iniciar Sesión</button>
    </div>
  </header>

  <!-- Hero -->
  <section class="hero">
    <h1>Conecta con los influencers adecuados</h1>
    <p>
      Nuestra plataforma conecta a las empresas con influencers de primer nivel, 
      garantizando colaboraciones impactantes que impulsan el conocimiento de la marca y el crecimiento.
    </p>
  </section>

  <!-- Opciones -->
  <section class="options">
    <div class="card">
      <img src="{%static 'img/empresa.jpg' %}" alt="empresa">
      <h2>¿Eres una Empresa?</h2>
      <p>Encuentra los influencers perfectos para tu marca.</p>
      <a href="{% url 'registroEmpresa' %}" ><button class="btn-red" >Registrarse como Empresa</button></a>      
    </div>
    <div class="card">
      <img src="{%static 'img/influencer.jpg' %}" alt="Influencer">
      <h2>¿Eres un Influencer?</h2>
      <p>Colabora con las mejores marcas.</p>
      <a href="{% url 'registroInfluencer' %}"><button class="btn-red boton_in">Registrarse como Influencer</button></a>
    </div>
  </section>
</body>
</html>
